body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eae3c8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.following-btn:hover {
  content: 'Unfollow'
}

.nav-link {
  color: #c2b092;
  font-size: 30px;
  font-family: 'Courier', Courier, monospace;
  font-weight: 650;
  float: left;
  text-decoration: none;
  margin-right: 10px;
  display: block;
  padding: 2px 5px 5px 25px;
  letter-spacing: -2px;
  word-spacing: -2.5px;
  text-shadow: 1px 1px rgb(255, 253, 253);
  transition: background-position 275ms ease;
}

.nav-link:hover {
  text-decoration: underline #ff9800;
}

.app-name {
  /* float: right; */
  margin: -5px 1px 40px 30%;
  font-family: 'Courier';
  /* margin-left: 150px;
  margin-left: 10px;
  margin-bottom: 10px; */
  color: #3d82aa;
  font-size: 53px;
  /* height: 100px; */
  width: 100%; /** Use 100% to fill the width of the page **/
  /* position: fixed; */
  /* top: 0;
  left: 0;
  right: 0; */
  text-shadow: 2px 2px 1px rgb(255, 255, 255);
}


/* 
from Polenta app
.app {
  display: grid;
  grid-template-areas:
      "header header"
      "search filter"
      "favorites-container pickup-container"
      "history history";
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
} */

.app-mascot {
  position: absolute;
  left: 0.5em;
  top: 0;
  height: 100px;
  box-shadow: 7px 7px 7px rgb(214, 211, 211);
  border-radius: 85px;
}


.header {
  padding: 50px;
  /* background-color: #c2b092; */
}


.logout {
  float: right;
  background: #00c030;
  color: #fff;
  margin-top: 5px;
  padding: .3em 1.25em;
  font-size: 1rem;
  font-family: inherit;
  vertical-align: baseline;
  border-radius: 6px;
  border-style: hidden;
}

.logout:hover {
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2) ;
  background: #00a72a;
}


.login-or-signup-prompt img {
  border-radius: 12%;
  height: 350px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

}

.login-or-signup-prompt h3 {
  border-radius: 12%;
  height: 50px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  font-family:  Georgia,serif;
  font-weight: 900;
  /* font-size: 2.46153846rem; */
  color: #3d82aa;
  text-shadow: 1px 1px 1px #ffffff;
  text-align: center;
}



